/*--------------------------------CSS reset--------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*--------------------------------CSS reset--------------------------------*/

/*--------------------------------태그--------------------------------*/
header {
  width: 100%;
  text-align: right;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
section {
  margin: 4rem 0;
  min-width: 50rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
/*--------------------------------태그--------------------------------*/

/*--------------------------------범용--------------------------------*/
.error-alert-txt {
  margin-top: 1rem;
  min-height: 1rem;
  line-height: 1.5rem;
  color: rgb(195, 39, 39);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
/*--------------------------------범용--------------------------------*/

/*--------------------------------그래프--------------------------------*/
.graph-container {
  display: flex;
  gap: 3.5rem;
  flex-direction: column;
  align-items: center;
}
.graph-body {
  position: relative;
  display: flex;
  gap: 3%;
  width: 50rem;
  height: 25rem;
  /* background-color: rgb(224, 224, 224); */
}
.graph-figure {
  width: 5%;
  height: 100%;
}
.graph-figure-numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  height: 100%;
}
.graph-border {
  width: 92%;
  height: 100%;
}
.middle-line {
  position: absolute;
  width: 92%;
  top: 50%;
  border-top: 1px dashed rgb(200, 200, 200);
}
.graph-bar-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px dashed rgb(200, 200, 200);
  border-top: 1px dashed rgb(200, 200, 200);
}
.graph-bar {
  position: relative;
  display: flex;
  justify-content: center;
  width: 8%;
}
#bar-1 {
  background-color: rgb(113, 205, 217);
}
#bar-2 {
  background-color: rgb(220, 162, 124);
}
#bar-3 {
  background-color: rgb(212, 214, 97);
}
#bar-4 {
  background-color: rgb(233, 141, 189);
}
#bar-5 {
  background-color: rgb(116, 213, 116);
}
.bar-name {
  position: absolute;
  bottom: -1.5rem;
}
.bar-value {
  position: absolute;
  top: 5px;
  font-weight: bold;
  color: rgb(255, 250, 237);
}
.graph-view-navigator {
  display: flex;
  gap: 3rem;
}
/*--------------------------------그래프--------------------------------*/

/*--------------------------------데이터 테이블--------------------------------*/
table,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
td {
  padding: 0.3rem;
}

.data-table-container {
  margin-bottom: 2rem;
  width: 100%;
  height: 15rem;
  overflow-y: scroll;
}
/* Hide scrollbar : Chrome, Safari, Opera */
.data-table-container::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar : IE, Edge, Firefox */
.data-table-container {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

#data-table {
  width: 100%;
}
#data-table thead {
  position: sticky;
  top: 0;
  background-color: white;
}
/*--------------------------------데이터 테이블--------------------------------*/

/*--------------------------------데이터 추가하기--------------------------------*/
#add-value-alert {
  height: 4.5rem;
}
/*--------------------------------데이터 추가하기--------------------------------*/

/*--------------------------------Json 편집기--------------------------------*/
#edit-value-advanced {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#edit-value-advanced-txt {
  width: 40rem;
  height: 30rem;
  resize: none;
}
.edit-value-advanced-btn {
  width: 5rem;
}
/*--------------------------------Json 편집기--------------------------------*/
