/*--------------------------------CSS reset--------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*--------------------------------CSS reset--------------------------------*/

header {
  width: 100%;
  text-align: right;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
section {
  margin: 4rem 0;
  min-width: 50rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
table {
  width: 100%;
}
th,
td {
  padding: 0.3rem;
}
.blank-alert-txt {
  margin-top: 1rem;
  color: rgb(195, 39, 39);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.graph-body {
  width: 50rem;
  height: 30rem;
  background-color: rgb(224, 224, 224);
}

#add-value-alert {
  height: 4.5rem;
  line-height: 1.5rem;
}
#edit-value-advanced {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#edit-value-advanced-txt {
  width: 40rem;
  height: 30rem;
  resize: none;
}
#edit-value-advanced-btn {
  width: 5rem;
}
